@page "/manage/gradients"
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.Components.QuickGrid.EntityFrameworkAdapter

@inject IGradientRepository _gradientRepository

@if (IsProcessing)
{
    <Spinner />
}
else
{
    <div class="container py-5">
        <div class="table-border bg-white mb-5">
            <div class="mx-3">
                <h3 class="pt-2 fs-4 fw-bold">Gradients</h3>
                <div class="row">
                    <div class="col-7">
                        <button class="btn btn-outline-primary mt-2">
                            <i class="bi bi-folder-plus"></i>
                            Add New
                        </button>
                        <button class="btn btn-outline-danger mt-2" disabled="@(!isAnyGradientSelected)">
                            <i class="bi bi-trash-fill"></i>
                            Delete
                        </button>
                    </div>
                    <div class="col-5 align-content-start mb-2">
                        <SearchBar SearchItemCallback="SearchGradients" />
                    </div>
                </div>
            </div>

            <QuickGrid Items="gradients" Class="table mx-auto quickgrid-align" Pagination="pagination">
                <TemplateColumn>
                    <HeaderTemplate>
                        <SelectAllCheckbox Items="gradients" IsAllSelected="@isAllSelected" SetIsSelected="SetGradientSelected" IsAllSelectedChanged="@((value) => isAllSelected = value)" />
                    </HeaderTemplate>
                    <ChildContent>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" checked="@context.IsSelected"
                                   @onchange="(e => SetGradientSelected(context, ((ChangeEventArgs)e).Value is bool b && b))" />

                        </div>
                    </ChildContent>
                </TemplateColumn>


                <PropertyColumn Property="@(p => p.Id)" Sortable="true" />
                <TemplateColumn Title="Preview" Context="gradient" Class="text-center">
                    <div class="border border-1 @(gradient.CssClass)" alt="Gradient preview" style="width:60px; height:60px;" />
                </TemplateColumn>
                <PropertyColumn Property="@(p => p.Value)" Sortable="true" />
                <PropertyColumn Property="@(p => p.CssClass)" />

                <TemplateColumn Context="gradient">
                    <a class="btn btn-light" href="@($"gradients/edit?id={gradient.Id}")">Edit</a> &nbsp;
                </TemplateColumn>
            </QuickGrid>
            <Paginator State="pagination" />
        </div>
    </div>
}


@code {
    private IQueryable<Gradient>? gradients;
    private bool IsProcessing { get; set; } = true;
    private bool isAnyGradientSelected = false;
    private bool isAllSelected = false;

    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override async Task OnInitializedAsync()
    {
        gradients = await _gradientRepository.GetAllAsync();
        IsProcessing = false;
    }

    private void ToggleSelectAll()
    {
        isAllSelected = !isAllSelected;

        foreach (var gradient in gradients)
        {
            gradient.IsSelected = isAllSelected;
        }
    }

    private void SetGradientSelected(Gradient gradient, bool selected)
    {
        gradient.IsSelected = selected;
        isAnyGradientSelected = gradients?.Any(g => g.IsSelected) == true;
    }

    private async Task SearchGradients(string searchFilter)
    {
        var searchResults = await _gradientRepository.GetAllAsync(searchFilter);
        gradients = searchResults;
        isAnyGradientSelected = gradients?.Any(g => g.IsSelected) == true;
    }

}
